services:
	moduleManager:
		setup:
			- addModule(Crm\VubEplatbyModule\VubEplatbyModule())

	- Crm\VubEplatbyModule\Seeders\ConfigsSeeder
	- Crm\VubEplatbyModule\Seeders\PaymentGatewaysSeeder
	- Crm\VubEplatbyModule\Gateways\VubEplatby

	gatewayFactory:
		setup:
			- registerGateway(vub_eplatby, Crm\VubEplatbyModule\Gateways\VubEplatby)
