config:
    sharedsecret:
        name: "VÚB ePlatby secret"
        description: "Shared secret provided by the bank to sign requests (e.g. 1234abcd)"
    mid:
        name: "VÚB ePlatby MID"
        description: "Merchant ID assigned by the bank (e.g. 1234)"
    mode:
        name: "VÚB ePlatby mode"
        description: 'Mode in which the gateway is running ("test" or "live")'