config:
	sharedsecret:
		name: "VÚB ePlatby secret"
		description: "Shared secret provided by the bank to sign requests (e.g. 1234abcd)"
	mid:
		name: "VÚB ePlatby MID"
		description: "Merchant ID assigned by the bank (e.g. 1234)"
	constant_symbol:
		name: "VÚB ePlatby constant symbol"
		description: 'Constant symbol used for payment identification (e.g. 0308)'
	mode:
		name: "VÚB ePlatby mode"
		description: 'Mode in which the gateway is running ("test" or "live")'
	rem:
		name: "VÚB ePlatby notification e-mail"
		description: "E-mail address which will receive payment notifications"
	vub_confirmation_host:
		name: VUB host
		description: "IMAP connection host (eg. imap.gmail.com) (<a href='https://github.com/remp2020/crm-vub-eplatby-module#confirmation-e-mails' target='_blank'>info</a>)"
	vub_confirmation_port:
		name: VUB port
		description: "IMAP connection port (eg. 993) (<a href='https://github.com/remp2020/crm-vub-eplatby-module#confirmation-e-mails' target='_blank'>info</a>)"
	vub_confirmation_username:
		name: VUB username
		description: "IMAP connection username (eg. example@gmail.com) (<a href='https://github.com/remp2020/crm-vub-eplatby-module#confirmation-e-mails' target='_blank'>info</a>)"
	vub_confirmation_password:
		name: VUB password
		description: "IMAP connection password (eg. password) (<a href='https://github.com/remp2020/crm-vub-eplatby-module#confirmation-e-mails' target='_blank'>info</a>)"
	vub_confirmation_processed_folder:
		name: VUB folder
		description: "IMAP folder to which the email will be moved after processing (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-vub-eplatby-module#confirmation-e-mails' target='_blank'>info</a>)"
	vub_zip_password:
		name: VUB ZIP Password
		description: "Password to e-mailed ZIP file with payment confirmation from VUB bank. (napr. password) (<a href='https://github.com/remp2020/crm-vub-eplatby-module#confirmation-e-mails' target='_blank'>info</a>)"
